@{
    ViewBag.Title = "deletefare";
}
@{
                     Layout = "~/Views/Shared/_Layoutstaff.cshtml";
  }
<header class="main">
                        <br />
					        <h2> Delete Fare</h2>
					</header>
<br />
<h3>Are you sure you want to delete this?</h3>
<div class="box" style="border-color:#f56a6a; border-bottom-width:2px; border-top-width:2px;">

     <div >
      &nbsp &nbsp &nbsp   Source : &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @Model.source
    </div>
<br>
 <div >
     &nbsp &nbsp &nbsp    Destination : &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  @Model.dest
    </div>
<br />
 <div >
     &nbsp &nbsp &nbsp   Class : &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @Model.Class
    </div>
    <br />
    <div >
      &nbsp &nbsp &nbsp   Fare :  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @Model.fareRate
    </div>
    <br />
<form action="/Staff/delfare" method="post">

    <input type="hidden" name="trname" value="@Model.ReceiptId" />
   <br />
     &nbsp &nbsp &nbsp    <input class="special" type="submit" value="Delete" /> 
 </form>
</div>